
*{
    margin: 0;
    padding: 0;
}




 body{
    height: 100%;
   width: 100%;
    
} 

header {
display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;

}


header img{
    height: 120px;
    width: auto;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    /* padding-left: 42px; */
    height: 50px;
    width: 100vw;
   
}
main{
    height: 100vh;
}

a{
text-decoration: none;
color:rgb(0, 0, 0);
margin: 8rem;
 
}

.links{
    display: flex;
    

   
    /* border-right: 2px solid black; */
    color:rgb(0, 0, 0); 
}

.links:hover{
    background-color: black;
    color: rgb(210, 9, 9);
    animation: zoom;
    animation-duration: 3s;
    /* padding: 1.2rem; */

}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}

.links:hover a{
    color: rgb(210, 9, 9);
   
}



.bgimg-1, 
.bgimg-2,
.bgimg-3,
.bgimg-4{
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}


.bgimg-1{
    background-image: url("../assets/img/ElLlanoPG.jpg");
    min-height: 100%;
}


