<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Juegos</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header>

      <h1>Bienvenido a nuestra web</h1>

      <nav class="menu">

        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="pag_juego.html">Games</a></li>
          <li><a href="otras_pags.html">Sitios</a></li>
        </ul>
        
      </nav>

      <div class="botonIdioma">
        <button>ES</button>
        <button>EN</button>
        <button>AST</button>
      </div>

    </header>

  <main>

    <h1>Juegos</h1>
    
    <section>

      <h2>Elige un juego</h2>

      <div class="gameGrid">
        <!-- Cada juego con título e imagen -->
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 1</p>
        </div>
      </div>

      <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 2</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 3</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 4</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 5</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 6</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 7</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 8</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 9</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 10</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 11</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 12</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 13</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 14</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 15</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 16</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 17</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 18</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 19</p>
        </div>
      </div>

       <div class="gameGrid">
        <div class="game-card">
          <img src="assets/game1.png" alt="Game 1" />
          <p>Juego 20</p>
        </div>
      </div>

    </section>

  </main>

  <footer>
    <p>© 2025</p>
  </footer>

  <script></script>
</body>
</html>