<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenido a nuestra web</title>
  <link rel="stylesheet" href="global.css" />
</head>
<body>
  <header>
    <!-- <img src="https://placeholder.pics/svg/1024x100" alt="imagen cabecera destacada">  -->
    <!-- esta etiqueta es la imagen de fondo -->
    <div class="botonIdioma">
      <button class="botonesIdioma">ES</button>
      <button class="botonesIdioma">EN</button>
      <button class="botonesIdioma">AST</button>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="sitios.html">Games</a></li>
        <li><a href="otras_pags.html">Sitios</a></li>
      </ul>
    </nav>

  </header>

  <main>
    <div>
      <p>Proyecto CP Web</p>
      <h1>Conoce Gijón</h1>
      
      <a href="sitios.html"><button class="sitios"> Sitios</button></a>
    </div>

    <section id="carrusel">
        <p>hola</p>
      <!-- carrusel de los sitios -->
    </section>

    <section id="mapa">
      <!-- mapa -->
    </section>

    <section id="presentacion">
      <p>texto</p>
      <!-- presentación del proyecto y/o de nosotros -->
    </section>
  </main>

  <footer>
    <p>© 2025</p>
  </footer>

  <script></script>

</body>
</html>